@media screen and (max-width:575.5px) {
    ul .ni{
        width: 100%;
        text-align: center;
        margin-top: 1rem;
    }
    .nav-ikons{
        display: flex;
    }
    .navbar-nav{
        padding-top: 20px;
    }
}