<section class="pt-5">
    <form [formGroup]="registerForm" (ngSubmit)="handleForm()" class="bg-main rounded-3 p-4 mt-5">
        <p *ngIf="errorMsg.length>0" class="alert alert-danger mt-2">{{errorMsg}}</p>
        <h2>Register Now :</h2>
        <div class="mt-3">
            <label for="name">name:</label>
            <input id="name" type="text" class="form-control w-100 mt-2" formControlName="name">

            <div class="errors alert alert-danger mt-2" *ngIf="registerForm.get('name')?.errors && (registerForm.get('name')?.touched || registerForm.get('name')?.value.length > 0)">
                <p *ngIf="registerForm.get('name')?.getError('required')">Name is required</p>
                <p *ngIf="registerForm.get('name')?.getError('minlength')">atleast 3 charachters</p>
                <p *ngIf="registerForm.get('name')?.getError('maxlength')">the maximum is 10 charachters</p>
            </div>
        </div>
        <div class="mt-3">
            <label for="email">email:</label>
            <input id="email" type="email" class="form-control w-100 mt-2" formControlName="email">
            <div class="alert alert-danger mt-2" *ngIf="registerForm.get('email')?.errors &&(registerForm.get('email')?.touched || registerForm.get('email')?.value.length > 0)">
                <p *ngIf="registerForm.get('email')?.getError('email')">You have to add the correct email form</p>
                <p *ngIf="registerForm.get('email')?.getError('required')">email is required</p>
            </div> 
        </div>
        <div class="mt-3">
            <label for="password">password:</label>
            <input id="password" type="password" class="form-control w-100 mt-2" formControlName="password">
            <div class="alert alert-danger mt-2" *ngIf="registerForm.get('password')?.errors && (registerForm.get('password')?.touched || registerForm.get('password')?.value.length > 0)">
                <p *ngIf="registerForm.get('password')?.getError('required')">password is required</p>
                <p *ngIf="registerForm.get('password')?.getError('pattern')">the menimum words is 3 words and maximum is 8</p>
            </div>
        </div>
        <div class="mt-3">
            <label for="rePassword">rePassword:</label>
            <input id="rePassword" type="password" class="form-control w-100 mt-2"  formControlName="rePassword">
            <div class="alert alert-danger mt-2" *ngIf="registerForm.get('rePassword')?.errors && (registerForm.get('rePassword')?.touched || registerForm.get('rePassword')?.value.length > 0)">
                <p *ngIf="registerForm.get('rePassword')?.getError('required')">rePassword is required</p>
                <p *ngIf="registerForm.get('rePassword')?.getError('misMatch')">Password not match</p>
            </div>
        </div>
        <div class="mt-3">
            <label for="phone">phone:</label>
            <input id="phone" type="tel" class="form-control w-100 mt-2" formControlName="phone">
            <div class="alert alert-danger mt-2" *ngIf="registerForm.get('phone')?.errors && (registerForm.get('phone')?.touched||registerForm.get('phone')?.value.length > 0)">
                <p *ngIf="registerForm.get('phone')?.getError('required')">phone number is required</p>
                <p *ngIf="registerForm.get('phone')?.getError('pattern')">phone number is required</p>
            </div>
        </div>
        <div class="d-flex justify-content-end"><button [disabled]="registerForm.invalid" type="submit" class="main-btn mt-3">Register <i class="fa-solid fa-spinner fa-spin-pulse" *ngIf="isLoading"></i></button></div>
    </form>
</section>