<section class="container-fluid bg-main p-4 pb-5 mt-5">
    <h3>Get the FreshCart app</h3>
    <p>We will send you a link, open it on your phone  to download the app</p>
    <div class=" d-flex justify-content-center">
        <div class="row g-3 align-items-center justify-content-center" style="width: 95%;">
            <div class="col-sm-10 col-md-10 d-flex justify-content-center"><input type="email" class="form-control" placeholder="Email .." ></div>
            <div class="col-sm-2 col-md-2 d-flex justify-content-end"> <button class="main-btn w-100">Share App Link</button></div>
        </div>
    </div>
    <div class="row g-2 mt-2 shadow-sm p-2">
        <div class="col-md-6 col-sm-12 inners d-flex align-items-center gap-3">
            <span class="fw-semibold">Payment Partners</span>
            <img src="./assets/amazonpay.png" class="payments" alt="">
            <img src="./assets/American-Express-Color.png" class="payments" alt="">
            <img src="./assets/pngimg.com - mastercard_PNG16.png" class="payments" alt="">
            <img src="./assets/paypal.png" class="payments" alt="">
        </div>
        <div class="col-md-6 d-flex justify-content-end align-items-center col-sm-12 inners">
            <span class="fw-semibold">Get deliveries with FreshCart</span>
            <img src="../../../assets/google play.png" alt="" class="payment">
            <img src="../../../assets/apple-store-badge-png-6.png.webp" alt="" class="payment">
        </div>
    </div>
    <p class="text-center mt-5 h6 fw-semibold">© 2024 Abdalla Elnagar, All Rights Reserved</p>
</section>