<div class="row g-4 position-relative justify-content-center">
  <div class="col-lg-2 col-md-4 col-sm-12" *ngFor="let item of products">
    <div class="product p-2" style="cursor: pointer;" [routerLink]="['/details',item._id]">
     <div class="d-flex justify-content-end heart"><i class="fa-regular fa-heart fa-xl" *ngIf="wishlistData.includes(item._id)==false"  (click)="stop($event);addtoList(item._id);checkInculded(item._id)"></i></div>
     <div class="d-flex justify-content-end heart"><i class="fa-solid text-danger fa-heart fa-xl" *ngIf="wishlistData.includes(item._id)==true" (click)="stop($event);addtoList(item._id);checkInculded(item._id)"></i></div>
        <img [src]="item.imageCover" class="w-100" alt="" [title]="item.title">
        <h4 class="imp-text">{{item.category.name}}</h4>
        <div class="d-flex justify-content-between align-items-center"><h5 class="h6 fw-semibold">{{item.title | trim:2}}</h5>
        </div>
        <div class="raing d-flex justify-content-between">
            <span class="fw-semibold">{{item.price}} EGP</span>
            <div class="d-flex align-items-center">
                <i class="fa-solid fa-star rating-color"></i>
                <span class="text-muted">{{item.ratingsAverage}}</span>
            </div>
        </div>
        <button class="main-btn w-100 mt-2" (click)="handleBtn($event);addtoCart(item._id,addBtn)"  #addBtn>Add to Card <i class="fa-solid fa-cart-plus"></i></button>
    </div>
  </div>
</div>
<!-- <div class="position-fixed top-0 start-0 bottom-0 end-0 fixed-layer d-flex justify-content-center align-items-center flex-column" *ngIf="loading">
  <div class="layer-img"><img src="./assets/freshcart-logo.svg" alt=""></div>
  <div class="loader mt-5"></div>
</div> -->