<section class="pt-5">
    <div class="container-fluid mt-5">
       <div class="row g-3">
        <div class="col-md-3" *ngFor="let item of categoriesList">
            <div [routerLink]="['/categorypro',item._id]" class="product position-relative cursor-pointer">
                <img [src]="item.image" height="350" class="w-100" alt="">
                <div class="position-absolute layer d-flex align-items-center justify-content-center">
                    <p class="text-center text-success fw-semibold">{{item.name}}</p>
                </div>
            </div>
        </div>
       </div>
    </div>
</section>