<div class="container d-flex justify-content-center py-5">
   <div class="row py-5">
    <div class="col-md-12 d-flex flex-column align-items-center justify-content-center">
        <img src="../../../assets/error.svg" class="w-100" alt="">
        <div class="d-flex justify-content-center mt-5 flex-column align-items-center">
            <div><button class="main-btn" (click)="noFound()" *ngIf="islogged == false">Go Home</button>
                <button class="main-btn" *ngIf="islogged" (click)="login()">Log in</button>
            </div>
            <p class="text-danger mt-3 fw-semibold" *ngIf="islogged">You are not logged in</p>
        </div>
    </div>
   </div>
</div>