<div class="container pt-5">
 <div class="row  g-0 my-5">
    <div class="col-lg-9 col-sm-12">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide><img src="./assets/images/slider-image-1.jpeg" alt="" class="w-100 scroll-img"></ng-template>  
      <ng-template carouselSlide><img src="./assets/images/slider-image-2.jpeg" alt="" class="w-100 scroll-img"></ng-template>  
      <ng-template carouselSlide><img src="./assets/images/slider-image-3.jpeg" alt="" class="w-100 scroll-img"></ng-template>  
    </owl-carousel-o>
   </div>
    <div class="col-lg-3 col-sm-12">
        <img src="./assets/images/slider-image-2.jpeg" class="w-100 side-img" alt="">
        <img src="./assets/images/slider-image-1.jpeg" class="w-100 side-img" alt="">
    </div>
 </div>
</div>